body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #101116 !important;
}

.arrow-down {
  position: relative;
  top: -50px;
}

.arrow-down:before, .arrow-down:after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background: white;
  position: absolute;
  top: 20px;
  transition: transform .2s;
}

.arrow-down:before {
  right: 21px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(45deg);
}

.arrow-down:after {
  right: 10px;
  transform: rotate(-45deg);
}

.arrow-down.active:before {
  transform: rotate(-45deg);
}

.arrow-down.active:after {
  transform: rotate(45deg);
}
  
.wrapper {
  display: flex;
   height: 100vh;
}
  
.main {
  flex-grow: 1;
  padding: 20px;
  position: relative;
}
  
.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.nav-item {
  font-size: 1.5rem !important;
}

.hide {
  animation: fadeOut 0.5s forwards;
}

.welcomeClass {
  background-color: #0f0f0f;
}

.welcomeTitle {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
  margin-top: -15%;
}

.welcomeContent {
  text-align-last: center;
  width: 60%;
}

.playerInformation {
  text-align: left; 
  margin: 10px;
}

.noBreak {
  margin: 0;
}

.centerBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.show3 {
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

.show4 {
  -webkit-animation: 3s ease 0.5s normal forwards 1 fadein;
  animation: 3s ease 0.5s normal forwards 1 fadein;
}

.show6 {
  -webkit-animation: 3s ease 1.5s normal forwards 1 fadein;
  animation: 3s ease 1.5s normal forwards 1 fadein;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
      display: none;
  }
}

@keyframes fadein{
  0% { opacity:0; }
  5% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  5% { opacity:0; }
  100% { opacity:1; }
}

.vulxTitle {
  position: absolute;
  top: auto;
  left: auto;
  font-size: 125px;
  font-weight: 800;
  margin-top: -11rem;
  padding-right: 10px;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
  z-index: 99;
}

#loading-image {
  z-index: 100;
}

.searchBox {
  margin-right: 0px; 
  margin-left: 0px;
}

.searchBarInput {
  color: white;
  padding: 0.5rem 18px;
  border-bottom: 0px solid #d3d3d3;
  font-size: 16px;
  background-color: #101116;
  border-radius: 10px;
  -webkit-transition: border-bottom 0.1s ease;
  -moz-transition: border-bottom 0.1s ease;
  -ms-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.searchBarInput:hover {
  color: #fff;
  border-bottom: 2px solid #d3d3d3;
}

.searchBarInput:active {
  color: #fff;
  border-bottom: 2px solid #d3d3d3;
}

.selectBtn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .9rem;
  font-size: 1rem;
  line-height: 1.5;
}

.themeSelect {
  color: #fff;
  margin-left: 10px;
  border-radius: 10px;
  border-bottom: 0px solid #d3d3d3;    
  -webkit-transition: border-bottom 0.1s ease;
  -moz-transition: border-bottom 0.1s ease;
  -ms-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
  background-color: #101116;
}

.themeSelect:hover {
  color: #fff;
  border-bottom: 2px solid #d3d3d3;
}

.search-bar-cont {
  height: auto;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: #101116;
  top: 70px;
  left: 0;
  z-index: 3;
  height: auto;
  max-height: 800px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.search-bar-results {
  width: 100%;
}

.search-bar-results-title {
  margin: 12px 0px -8px 40px;
  display: flex;
}

.search-bar-results-cards {
  display: flex;
  margin-bottom: 5px;
  margin-left: 30px;
}

.search-bar-results-card {
  width: 370px;
  height: 100px;
  border-radius: 10px;
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -ms-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  margin: 5px -14px 15px 10px;
  overflow: hidden;
  z-index: 0;
}

.search-bar-results-card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.searchPfp {
  height: 80px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid #101116;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
}

.searchBanner {
  height: 100px;
  width: 323px;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  filter: brightness(0.5);
}

.searchInfo {
  position: relative;
  left: 98px;
  top: 25px;
  max-width: 55%;
}

.searchInfo2 {
  position: relative;
  left: 98px;
  top: 35px;
  max-width: 55%;
}

.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchBarTags {
  display: flex;
  margin-top: 15px;
}

.themeName-large5 { 
  font-weight: bold !important;
  font-size: 24px;
  vertical-align: middle;
}

.themeTagTextBar:hover {
  transform: scale(1.1);
}

.hidden {
  opacity: 0;
  display: none;
}

.visible {
  opacity: 1;
  display: block;
}

.fadein {
  -webkit-animation: fadein 0.3s ease-in;
    -moz-animation: fadein 0.3s ease-in;
    animation: fadein 0.3s ease-in;
}

.fadeout {
  -webkit-animation: fadeout 0.3s ease-out;
    -moz-animation: fadeout 0.3s ease-out;
    animation: fadeout 0.3s ease-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}